@font-face {
    font-family: 'reklame_script_regular_demoRg';
    src: url('../fonts/ReklameScript-Regular_DEMO.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-LightItalic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'lato';
    src: url('../fonts/Lato-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "lato", sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #d9d9d9;
    background-color: #2a2a2a;
}

a {
    padding: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

h2 {
    font-weight: bold;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.12em;
    color: #ffffff;
    background-color: #ff6760;
}

    .btn:hover {
        color: #b2b2b2;
    }

    .btn:active {
        color: #353535;
    }

    .btn:focus-within {
        -webkit-box-shadow: none;
                box-shadow: none;
    }


.header-main{
    background-color: #262626;
}

.header-logo {
    padding-left: 1.35em;
    font-family: 'reklame_script_regular_demoRg', sans-serif;
    font-size: 30px;
    text-align: start;
}

    .header-logo span:before {
        content: "";
        position: absolute;
        left: -40px;
        top: 5px;
        width: 39px;
        height: 33px;
        background-image: url("../img/logo.png");
        background-repeat: no-repeat;
    }

.navbar {
    padding: 1.75rem 0;
}

.navbar-nav .nav-item .nav-link {
    margin: 0;
    margin-left: 3rem;
    padding: 0;
    color: #d9d9d9;
}

    .navbar-nav .nav-item .nav-link:hover {
        color: #979797;
    }

    .navbar-nav .nav-item .nav-link:active {
        color: #3c3c3c;
    }

    .navbar-nav .nav-item .nav-link.active {
        color: #ea6660;
    }

        .navbar-nav .nav-item .nav-link.active:active {
            color: #72312e;
        }


.slider {
    padding: 2.8rem 0;
    padding-bottom: 3.75rem;
}

    .slider h1 {
        margin: 0;
        font-size: 3.8rem;
    }

    .slider p {
        margin: 1.25rem 0;
        margin-bottom: 3.25rem;
        font-size: 2.5rem;
    }

    .slider .btn {
        padding: 1.25em 3.55em;
    }

.services {
    padding: 4.6rem 0;
    padding-top: 5.2rem;
    color: #616161;
    background-color: #f8f8f8;
}

    .services ul {
        line-height: 1.5rem;
    }

    .services h3::before {
        content: "";
        display: block;
        margin: 0 auto;
        padding-top: 5.95rem;
        background-repeat: no-repeat;
    }

.service-1 h3::before {
    width: 47px;
    height: 54px;
    background-image: url(../img/android.svg);
}

.service-2 h3::before {
    width: 62px;
    height: 59px;
    background-image: url(../img/computer.svg);
}

.service-3 h3::before {
    width: 60px;
    height: 56px;
    background-image: url(../img/camera.svg);
}

.service-4 h3::before {
    width: 55px;
    height: 65px;
    background-image: url(../img/watch.svg);
}

.services h3 {
    position: relative;
    font-size: 1.3em;
    font-weight: bold;
}

.services p {
    margin: 0;
}

.portfolio {
    padding: 3.4rem 0;
    padding-bottom: 4.1rem;
    color: #616161;
    background-color: #ffffff;
}

    .portfolio h2 {
        font-size: 2.2em;
    }

    .portfolio p {
        margin-bottom: 3.3rem;
        font-size: 1.5em;
    }

    .portfolio .btn {
        margin: 0 0.35em;
        margin-bottom: 1em;
        padding: 0.9em 1.9em;
        font-size: 10px;
        text-transform: uppercase;
    }

    .portfolio .btn-active {
        background-color: #595959;
    }

.thumbnails {
    margin: 10px 0;
}

    .thumbnails div {
        padding: 5px 0;
    }

.footer-main {
    padding: 3.3rem 0;
    position: relative;
    color: #dedede
}

    .footer-main p {
        font-size: 1.25rem;
    }


.contacts div {
    margin: 0;
    margin-bottom: 1.75rem;
}


.map-address::before {
    content: "";
    position: absolute;
    left: -1.5em;
    bottom: -0.2rem;
    background-image: url(../img/fill.svg);
    background-position: 50%;
    background-size: 12px;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}

.phone-number:before {
    content: "";
    position: absolute;
    left: -1.5rem;
    bottom: -0.2rem;
    background-image: url(../img/phone.svg);
    background-position: 50%;
    background-size: 12px;
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
}

.footer-social a[class*="social-btn-"] {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 3px 0;
    border-radius: 50%;
    font-size: 0;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 50%;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.social-btn-rss {
    background-image: url(../img/rss.svg);
    background-color: #f3b25b;
}

    .social-btn-rss:hover {
        background-color: #aa7c3f;
    }

    .social-btn-rss:active {
        background-color: #664a25;
    }

.social-btn-fb {
    background-image: url(../img/fb.svg);
    background-color: #5883c0;
}

    .social-btn-fb:hover {
        background-color: #3d5b86;
    }

    .social-btn-fb:active {
        background-color: #243650;
    }

.social-btn-tw {
    background-image: url(../img/tw.svg);
    background-color: #63bee0;
}

    .social-btn-tw:hover {
        background-color: #45859c;
    }

    .social-btn-tw:active {
        background-color: #294f5d;
    }

.social-btn-dr {
    background-image: url(../img/db.svg);
    background-color: #a9a0c4;
}

    .social-btn-dr:hover {
        background-color: #767089;
    }

    .social-btn-dr:active {
        background-color: #464352;
    }

.social-btn-pr {
    background-image: url(../img/pr.svg);
    background-color: #d35051;
}

    .social-btn-pr:hover {
        background-color: #933838;
    }

    .social-btn-pr:active {
        background-color: #582121;
    }

.copyright {
    background-color: #262626;
}

    .copyright p {
        margin: 0;
        padding: 1.9rem 0;
    }